<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jarry.vote.mapper.UserInfoMapper">
    <sql id="column_list">
        user_id,
        user_name,
        password,
        avater,
        gender
    </sql>
    <resultMap id="userMap" type="com.jarry.vote.model.response.UserInfo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="school" property="school"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="login" resultMap="userMap">
        SELECT user_id,user_name,school,type
        FROM user
        WHERE user_name=#{userName} and password=#{password}
    </select>
    <select id="checkAccountByUserName" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_name=#{userName}
    </select>
    <insert id="register" parameterType="com.jarry.vote.model.response.UserInfo">
        insert into user
        (user_id,user_name,password,avatar,gender,school,type)
        values
        (#{userInfo.userId},#{userInfo.userName},#{userInfo.password},#{userInfo.avatar},#{userInfo.gender},#{userInfo.school},#{userInfo.type})
    </insert>
    <select id="getUserInfoById" resultMap="userMap">
        SELECT user_id,user_name,avatar,gender
        FROM user
        WHERE user_id=#{userId}
    </select>
    <select id="getUserInfoByPhone" resultMap="userMap">
        SELECT user_id,user_name,phone,avatar,gender
        FROM user
        WHERE phone=#{phone}
    </select>
</mapper>